
<div id="carousel-custum">
	<div id="btns">
		<a href="#" id="prev">prev</a>
		<a href="#" id="next">next</a>
		<div class="clear"></div>
	</div>	
	<div class="clear"></div>
	<div id="slides" > 
		<ul>
      {{#each product}}
        <li class="seller-product">
              <img src="{{this.imageUrl}}"/>
              <p>Brand: {{this.brand}}</p>
              <p>Model: {{this.model}}</p>
							<p style="display: none; " id="thisItem">{{this._id}}</p>          
        </li>
      {{/each}}
			
		</ul>
		<div class="clear"></div>
	</div> 
</div>
<div id="carousel-custum1">
	<div id="btns">
		<a href="#" id="prev">prev</a>
		<a href="#" id="next">next</a>
		<div class="clear"></div>
	</div>	
	<div class="clear"></div>
	<div id="slides" > 
		<ul>
      {{#each product1}}
        <li>
              <img src="{{this.imageUrl}}"/>
              <p>Brand: {{this.brand}}</p>
              <p>Model: {{this.model}}</p>          
        </li>
      {{/each}}
			
		</ul>
		<div class="clear"></div>
	</div> 
</div>