<div class="container">
  <div class="container-login-form">
    <h2 class="title is-3">Login</h2>
    <br>
   
      <form action="/process-edit/{{productId}}" method="POST" class="notification">
      <label>
      <h5 class="subtitle is-6 ">Name:</h5>
       
      <input type="text" name="productName" value= "{{product.productName}}" placeholder="Title...">
      </label>
      <br>
      <br>
      <label>
        <h5 class="subtitle is-6"> Brand: </h5>
     
      <input type="text" name="brand" value= "{{product.brand}}" placeholder="Author...">
     </label>
     <br>
     <br>
     <label>
      <h5 class="subtitle is-6 ">Model:</h5>
       
      <input type="text" name="model" value= "{{product.model}}" placeholder="model...">
    </label>
    <br>
    <br>
    <label>
     <h5 class="subtitle is-6 ">Product's pick up adress </h5>        
     <input class="input location-input" type="text" placeholder="12..."/>  
          
     <br>
     <br>
     <input type="hidden" name="latitude" class="lat-input" />
     <input type="hidden" name="longitude" class="lng-input" /> 
    </label>
   
    <label>
     <h5 class="subtitle is-6 ">Description:</h5>
      
     <input type="text" name="description" value= "{{product.description}}" placeholder="Description...">
    </label>
     <br>
     <br>
    <label>
     <h5 class="subtitle is-6 ">Status: </h5>
     
    <select name="status" class="button">
     <option value="available">Available</option>
     <option value="sold">Sold</option>                                    
    </select>
    <br>
    <br>
    </label>
    <label>
    <h5 class="subtitle is-6 ">Image: </h5>
    
    <input type="text" name="imageUrl" value= "{{product.imageUrl}}" placeholder="Description...">
    </label>
    <br>
    <br>
    <label>
    <h5 class="subtitle is-6 ">More details:</h5>
     
    <input type="text" name="pdfLink" value= "{{product.pdflink}}" placeholder="">
    </label>
    <br>
    <br>

  
   <button class="button is-primary">Update This product</button>
 </form>
 <div class="my-map" style="display: none;"></div>
 </div>
 </div>
