 <div class="single-product">
     <h2>Single Product Page</h2>
     <br/>
<div class="card">
  <div class="card-content single-card">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="{{product.imageUrl}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{product.productName}}</p>
        <p class="subtitle is-6">Brand: {{product.brand}}</p>
      </div>
    </div>

    <div class="content">
      {{product.description}}
      <br/>
        <p>Added on {{ product.created_at}}</p>
      <br>
    </div>
  </div>
  <button class="button" id="seeMapClik"><a href="/mapOverview">See map</a>
    <p style="display:none">{{product._id}}</p>
  </button>
<br/>
   
 </div>



