<h2>Single Product Page</h2>

<h3>{{product.productName}}</h3>
   <p>Brand: {{product.brand}}</p>
   <p>Model : {{product.model}}</p>
   <p>{{product.description}}</p>
   <p>Status: {{product.status}}</p>
   <img src="{{product.imageUrl}}" alt="">
   <p>
     See more details:
     <a href="/{{product.pdflink}}"></a>
   </p>
   <p>Added on {{product.createdAt}}</p>
  

   <hr>

<h3>Reviews</h3>

<h4>Add a Review</h4>